<header>
  <!-- Navbar -->
  <nav class="navbar-expand-lg navbar-light">
    <div class="nav-bar">
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a href="#">
            <img class="home" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCCmV4hdR0WwQdDksdPtHdYPSGo27bnOl0dA&usqp=CAU" style=" padding: 5px; width: 90px; height: 90px;">
            </a>
          </li>
          <div class="items">
            <a href="#!" role="button">
              <i class="fas fa-search-location fa-2x"></i>
            </a>
            <a href="#!" role="button">
              <i class="fas fa-exclamation-triangle fa-2x"></i>
            </a>
            <a href="#!" role="button">
              <i class="fas fa-cog fa-2x"></i>
            </a>
            <a href="#!" role="button">
              <i class="fas fa-th fa-2x"></i>
            </a>
          </div>
        </ul>
      </div>
      <div>
      </div>
    </div>
  </nav>
  <td>
    <a href="#">Home</a>
    <a href="#">/Capital Humano</a>
  </td>

  <!-- Navbar -->
</header>
