<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div id="formHeader">
      <p>Formulario de Ingreso</p>
    </div>
    <div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="'titleTab" scope="col">Tipo de Operacion</th>
              <th class="'titleTab" scope="col">Nº de Horas</th>
              <th class="'titleTab" scope="col">Nombre del Trabajador</th>
              <th class="'titleTab" scope="col">Fecha de Op.</th>
              <th class="'titleTab" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Destape de Emisiones</td>
              <td>6</td>
              <td>Demetrio Cabezas</td>
              <td>30/04/2020</td>
              <td><i class="fas fa-pen orange-text" aria-hidden='true'></i><i class="fas fa-trash orange-text ml-2" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td><i class="fas fa-pen orange-text" aria-hidden='true'></i><i class="fas fa-trash orange-text ml-2" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td><i class="fas fa-pen orange-text" aria-hidden='true'></i><i class="fas fa-trash orange-text ml-2" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
